.screen-game {
    margin: 0 auto;
    max-width: 120rem;
    width: 98%;
    .-label-choice {
        font-size: 3.8rem;
        text-align: center;
        @include teq-breakpoint($medium) {
            font-size: 4.2rem;
        }
        &:after {
            content: '.';
            animation: loading 1s ease alternate infinite;
        }
    }
    .-list-card {
        display: flex;
        justify-content: center;
        &.-played {
            justify-content: flex-start;
            position: relative;
            &:before {
                color: #3f51b5;
                content: "VS";
                font-size: 4rem;
                font-weight: 700;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            figure {
                height: 0;
                overflow: hidden;
                margin: 0;
                width: 0;
            }
            figure.-selected {
                display: block;
                height: 10rem;
                margin: 10px 1%;
                overflow: visible;
                width: 30rem;
            }
            .icon {
                opacity: 1;
            }
            figcaption {
                padding: 1rem 2rem;
            }
            figure.-computer {
                margin-left:  auto;
            }
            img {
                opacity: 0;
            }
            h2 {
                padding-top: 2rem;
            }
        }
    }
    .-score {
        color: #7986cb;
        display: flex;
        font-size: 4.2rem;
        justify-content: space-between;
        @include teq-breakpoint($medium) {
            font-size: 5.6rem;
        }
    }

    figure {
        background: #333;
        border-radius: 0.5rem;
        color: #FFF;
        cursor: pointer;
        height: 20rem;
        margin: 10px 1%;
        overflow: hidden;
        position: relative;
        text-align: center;
        transition: 0.5s;
        width: 25rem;
        &:hover {
            img {
                opacity: 0.4;
            }
        }
        img {
            height: 100%;
            opacity: 0.7;
            object-fit: cover;
            object-position: center top;
            width: 100%;
        }
    }
    .icon {
        fill: #FFF;
        height: 4rem;
        margin: 0 auto;
        opacity: 0;
        transition: 0.5s;
        width: 4rem;
    }
    figcaption {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 2em;
        text-transform: uppercase;
        font-size: 1.25em;
        backface-visibility: hidden;
        &:before,
        &:after {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            content: '';
            opacity: 0;
            transition: opacity 0.35s, transform 0.35s;
        }
        &:before {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: scale(0,1);
        }
        &:after {
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            transform: scale(1,0);
        }
    }
    h2 {
        margin: 0;
        padding-top: 75%;
        word-spacing: -0.15em;
        font-weight: 300;
        text-transform: uppercase;
        transition: transform 0.35s;
        transform: translate3d(0,-20px,0);

        span {
            font-weight: 800;
        }
    }
    p {
        display: none;
    }
}