.screen-start {
    margin: 0 auto;
    max-width: 135rem;
    width: 98%;
    .legend {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include teq-breakpoint($medium) {
            justify-content: space-around;
            flex-direction: row;
        }
    }
    figure {
        background: #333;
        border-radius: 0.5rem;
        color: #FFF;
        height: 22rem;
        margin: 10px 1%;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 25rem;
        @include teq-breakpoint($medium) {
            height: 40rem;
            width: 30rem;
        }
        &:hover {
            img {
                opacity: 0.4;
            }
            figcaption::before,
            figcaption::after {
                opacity: 1;
                transform: scale(1);

            }
            h2,
            p {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    }
    img {
        display: block;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
        position: relative;
        transition: opacity 0.35s;
        width: 100%;
    }
    figcaption {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 2em;
        text-transform: uppercase;
        font-size: 1.25em;
        backface-visibility: hidden;
        &:before,
        &:after {
            position: absolute;
            top: 2rem;
            right: 2rem;
            bottom: 2rem;
            left: 2rem;
            content: '';
            opacity: 0;
            transition: opacity 0.35s, transform 0.35s;
            @include teq-breakpoint($medium) {
                top: 3rem;
                right: 3rem;
                bottom: 3rem;
                left: 3rem;
            }
        }
        &:before {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: scale(0,1);
        }
        &:after {
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            transform: scale(1,0);
        }
    }
    h2 {
        font-weight: 300;
        margin: 0;
        padding-top: 10rem;
        text-transform: uppercase;
        transition: transform 0.35s;
        transform: translate3d(0,-20px,0);
        word-spacing: -0.15em;
        @include teq-breakpoint($medium) {
            padding-top: 85%;
        }
        span {
            font-weight: 800;
        }
    }
    p {
        font-size: 1.6rem;
        padding: 2rem;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(0,20px,0);
    }
}