/* ==============================
    Global
   ============================== */
html,
body {
    background-color: #212121;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {

    position: relative;
    scroll-behavior: smooth;
}
